<!doctype html>
<html ng-app="mcpeTool" ng-controller="World as world">
<head>
  <title>World Explorer for MCPE</title>
</head>
<body>
  Under construction
  <h2>Players</h2>
  <div ng-repeat="key in world.players">{{ key }}</div>
  <h2>Known Keys</h2>
  <div ng-repeat="key in world.knownKeys">{{ key }}</div>
  <h2>Unknown Keys</h2>
  <div ng-repeat="key in world.unKnownKeys">{{ key }}</div>
  <h2>Chunks</h2>
  <div ng-repeat="key in world.chunks">{{ key }}</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script>
    (function() {
      'use strict';

      angular
        .module('mcpeTool', [])
        .controller('World', World);

       World.$inject = ['$http'];

      function World($http) {
        var vm = this;
        vm.keyList = []
        vm.otherKeys
        vm.nonChunkKeys = [
          'mVillages',
          'AutonomousEntities',
          'BiomeData',
          'Overworld',
          'dimension0',
          'portals'
        ]

        vm.RefreshKeys = function() {
          $http.get('http://127.0.0.1:8080/api/v1/db/')
            .then(vm.RefreshKeysSuccess, vm.HttpFail)
        }

        vm.RefreshKeysSuccess = function(response) {
          var chunk;
          vm.keyList = response.data.keys;
          vm.players = {};
          vm.chunks = {};
          vm.knownKeys = {};
          vm.unKnownKeys = {};
          vm.keyList.forEach(function(e) {
            if (/^(~local_player|^player_)/.test(e.stringKey)) {
              vm.players[e.stringKey] = e;
            } else if (vm.nonChunkKeys.includes(e.stringKey)) {
              vm.knownKeys[e.stringKey] = e;
            } else if (chunk = e.hexKey.match(/^([\da-f]{8})([\da-f]{8})([\da-f]{8})?([\da-f]{2})([\da-f]{2})?$/i)) {
            // } else if (/^([\da-f]{4})/i.test(e.hexKey)) {
              var hexKey = chunk[1] + chunk[2] + (chunk[3] || "");
              vm.chunks[hexKey] = e;
              // console.log(hexKey);
            } else {
              vm.unKnownKeys[e.hexKey] = e;
            }
          });
          console.log(vm.chunks);
        }

        vm.HttpFail = function(response) {
          console.error('http failure', response.status, response.statustext, response.data);
        }

        vm.RefreshKeys();
      }
    })();
  </script>
</body>
</html>